@using System.Web.UI.WebControls
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
</head>
<body>
	<div id="lastUpdateWarning" class="overlay" style="display: none;">
		<div class="message">
		</div>
	</div>
	<div>
		<div class="container-full">
			@RenderBody()
		</div>
		<div class="container-full">
			@RenderSection("BottomLane", false)			
		</div>
		<div class="container-full">
			<hr />
			<footer>
				<span>TeamCity BuildMonitor</span>
				<span id="last-updated" style="float: right">Updated @DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")</span>
			</footer>
		</div>
	</div>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
</body>
</html>